h1 {
    font-size: 40px;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 200px;
    margin: 10px;
    float: left;
  }

#deleteTaskCursor:hover {
    cursor: pointer;
}

#leftPanel {
    background-color: aquamarine; /* just a test colour */
}