h1 {
    font-size: 54px;
    font-weight: 550;
    letter-spacing: -1.2px;
}

.note {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #ccc;
    padding: 20px;
    width: 300px;
    margin: 10px;
    float: left;
  }

.note h1{
  text-align: center;
  color: #0804e2;
  font-weight: 550;
  font-size: 40px;
  letter-spacing: -1.3px;
}

.note h2{
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -1.1px;
}

.note-status{
  display: inline-flex;
  justify-content: center;
}

.note-circle{
    height: 15px;
    width: 15px;
    background-color: rgb(20, 236, 0);
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 8px;
}

.date{
  font-size : 12px;
  color: rgb(87, 87, 87);
}




.note button{
  margin-left : 2px;
  margin-right: 2px;
}


.menu-button{
  margin: 1px 12px;
}
.menu-button:hover{
  background-color: #1da6e6ab;
}

.custom-nav-bar{
  margin-bottom: 20px;
  background-color: #f5f4f4;
  text-align: center;
  border-bottom: solid 1px black;
}

#tasks-info{
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1.4px;
  color: #5c5c5c;
}

#deleteTaskCursor:hover {
    cursor: pointer;
}



#completeTaskCursor:hover {
  cursor : pointer;
}

#leftPanel {
    background-color: aquamarine; /* just a test colour */
}


.box {
  border-width: 1px;
  text-indent: 5px;
  padding: .5em 1em;
  width: 100%;
}

.bounce {
  outline: 0;
  border-color: red;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}


/**Dropdown menu*/

 /* Dropdown Button */
 .dropbtn {
  background-color: #0804e2;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius:  12px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #5ea5d4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 